.home {
    padding: 56px 20px;
    min-height: 100%;
    width: 100%;
}


.home__photo {
    display: none;
    @media only screen and (min-width: 992px) {
        display:block;
        width: 100%;
        max-height: 250px;
        min-height: 1790px;
        background-image: url(https://source.unsplash.com/Dph00R2SwFo);
        background-size: cover;
        background-repeat: no-repeat;
    }
}


.card__text {
    width: 100%;
    text-align: center;
    line-height: 200px;
}

.card__text_phone {
    width: 100%;
    text-align: center;
    @media only screen and (min-width: 992px) {
        line-height:200px;
    }
}
