.profile__cardWide {
    min-width: 100%;
}

.profile__cardTitle {
    color: #333;
}

.profile__cardMenu {
    color: #fff;
}

.profile__grid{
    min-width:100%;
}

.booking__title{
    text-align:center;
}
.booking__subtitle{
    text-align:center;
}