.footer {
    background-color: #333;
    min-height: 140px;
}

.text {
    color: white;
}

.footer__item {
    line-height: 20px;
    @media only screen and (min-width : 992px) {
        line-height: 140px;
    }
}
